# Ignore virtual environment
venv/

# Ignore Rasa trained models
models/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files and cache
*.log
*.db
.cache/
.local/
.logs/

# Ignore temporary files (Windows/Mac/Linux)
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/

# Ignore environment variables or credentials (Sensitive Info)
.env
config/.env
credentials.yml
